@charset "utf-8";
*{margin:0;padding:0;}
ul li{list-style:none;}
a{text-decoration:none;}





.middle .login_bot .login_signin .login_wrap{
    width: 187px;
    height: 256px;
    /* position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; */
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
}


.middle .login_bot .login_signin input,p{
    margin: 10 auto;
} 

.middle .login_bot .login_signin .login_wrap button{
    background: #9e1503;
    width: 86px;
    height: 29px;
    text-align: center;
    color: #ffffff
}

.middle .login_bot .login_signup .register{
    width: 367px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
}


.login_signin input[type="text"]{
    display: block;
    margin: 10px auto;
    width: 165px;
    height: 24px;
}


.middle .login_bot .login_signup .register i{
    font-size: 12px;
    color: #9d1c32
}
.middle .login_bot .login_signup .register input[type="text"]{
    display: block;
    margin: 10px auto;
    width: 165px;
    height: 24px;
}
.middle .login_bot .login_signup .register p{
    margin: 20px auto
}

.middle .login_bot .login_signup .register p button{
    background: #9e1503;
    width: 86px;
    height: 29px;
    text-align: center;
    color: #ffffff
}
.offi_top_number{
    background: #9e1503;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    text-align: center;
    line-height: 52px;
    font-size: 33px;
    color: #ffffff
}

.offi_top_p1{
    width: 158px;
    height: 37px;
    background: #aeb0b3;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
}
li{
    position: relative;
}

.offi_top_number{
    position: absolute;
    left: 0;
    top: 0;
}


.pp{
    position: relative;
}

.pp #uname_info2{
    position: absolute;
    right: 0;
    top:0;
    color: red
    

}